.table {
    margin-top: 20px
}

.colorHead {
    background-color: rgba(35, 52, 92, 0.52);
}

.paperU {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paperR {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarR {
    margin: 8px;
    margin-top: 30px;
}

.form {
    width: 70%;
    margin: 40px 20px 40px 20px;
}

.submit {
    margin-top: 24px;
    margin: 24px 24px 0px 16px;
    color: #ffffff
}