.table {
    margin-top: 20px
}

.colorHead {
    background-color: rgba(35, 52, 92, 0.52);
}

.paperG {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typogra {
    padding-top: 50px;
}

.typogra2 {
    padding-bottom: 20px;
    padding-inline-start: 35px;
}

